'scopeName': 'source.q'
'name': 'Qlang'
'fileTypes': ['ql']

'patterns': [
  {
    'begin': '//'
    'end': '\\n'
    'name': 'comment.line.double-slash.q'
  }
  {
    'match': '\\b(break|case|chan|const|continue|default|defer|else|fallthrough|for|func|go|goto|if|import|interface|map|package|range|return|select|struct|switch|type|var)\\b'
    'name': 'keyword.control.q'
  }
]
